<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/19bb112f-a6c3-4cb8-b6ae-f698ab6174a2/resourceGroups/RiverbedAPIServices20230211133721ResourceGroup/providers/Microsoft.ApiManagement/service/RiverbedAPIServicesapi/apis/RiverbedAPIServicesDev</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/19bb112f-a6c3-4cb8-b6ae-f698ab6174a2/resourceGroups/RiverbedAPIServices20230211133721ResourceGroup/providers/Microsoft.Web/sites/RiverbedAPIServicesDev</ResourceId>
    <ResourceGroup>RiverbedAPIServices20230211133721ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://riverbedapiservicesdev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ff43117f-2489-4bc8-b079-5aba4d25420c</ProjectGuid>
    <PublishUrl>https://riverbedapiservicesdev.scm.azurewebsites.net/</PublishUrl>
    <UserName>$RiverbedAPIServicesDev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>