@inherits LayoutComponentBase

<PageTitle>Riverbed.Business.App</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <TelerikRootComponent>
            @Body
        </TelerikRootComponent>
    </main>
</div>
